.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/static/base/img/core-img/load.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.anuncios{
    width: 100%;
    margin-top: 2rem;
}
.anuncios img{
    width: 100%;
    
}
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:105px;
    right:75px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp:hover {
    font-size:30px !important;
  }
  .whatsapp:active {
    font-size:30px !important;
  }
  .whatsapp:link {
    font-size:30px !important;
    
  }
  .whatsapp-icon {
    margin-top:13px;
  }

